td{
  padding: 0 15px;
}
body
{
background-color:powderblue;
font-style:arial;
}
table
{
width:100%;
font-style:arial;
}
h1
{
font-size:25px;
}
caption
{
font-size:22px;
}
th:hover {background-color: powderblue;}
tr:hover {background-color: skyblue;}
td:hover {background-color: powderblue;}
td, th
{
text-align:center;
font-style:arial;
}
div{ 
  display:inline-block; 
  padding:0px; 
  margin-left:-4px; 
}
.footer
{
color:white;
background-color:powderblue;
margin:2px;
font-size:18px;
font-style:arial;
color:black;
border-radius: 5px;
}
.header
{
color:white;
background-color:powderblue;
margin:2px;
font-size:18px;
color:black;
font-style:arial;
border-radius: 5px;
}
.banner
{
color:black;
background-color:powderblue;
margin:2px;
font-size:18px;
width:100%;
font-style:arial;
border-radius: 5px;
}
.center
{
color:black;
background-color:white;
margin:2px;
font-size:18px;
width:100%;
font-style:arial;
border-radius: 5px;
border-style:solid;
}